* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 20vh;
    font-size: 14px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    margin: 15px;
}

nav li:last-of-type {
    margin-right: 40px;
}


nav img {
    padding-top: 5px;
    width: 25px;
}

nav li a {
    text-decoration: none;
    background-color: rgb(83, 134, 251);
    color: white;
    padding: 8px 12px;
    border-radius: 2px;
}


.container {
    height: 70vh;
}

.google {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 40px;
    width: 300px;
}

.text {
    border: 1px solid rgba(128, 128, 128, 0.246);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    width: 600px;
    height: 40px;
    transform: translateX(-50%);
    margin-top: 160px;
    padding-left: 10px;
}

.text:hover {
    border: 1px solid rgba(128, 128, 128, 0.479);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.219);
}

.buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
}

.all-btn {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(128, 128, 128, 0.109);
    border-radius: 4px;
}

.all-btn:hover {
    color: rgba(0, 0, 0, 0.685);
    border: 1px solid rgba(0, 0, 0, 0.239);
}

footer {
    height: 10vh;
    font-size: 13px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: rgb(112, 112, 112);
    background-color: rgb(235, 235, 235);
}

.country {
    height: 50%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
}

.country p {
    margin: 0 20px;
}

.options {
    height: 50%;
    display: flex;
    width: 100%;
}

.list-one,
.list-two {
    display: flex;
    list-style: none;
    align-items: center;    
}

.list-one li,
.list-two li {
    margin: 0 20px;
}

.options .list-two {
    margin-left: auto;
}
